language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
# command to install dependencies
install:
    - "pip install --upgrade pip"
    - "pip install -r requirements.txt"
    - "pip install --upgrade pytest"
    - "pip install -e ."
# command to run tests
script: py.test --cov src/jsonapi_client/ tests/
after_success: coveralls
