language: python
python:
  - "3.6"
# command to install dependencies
install:
    - "pip install -r requirements.txt"
    - "pip install -e ."
# command to run tests
script: py.test --cov src/jsonapi_client/ tests/
after_success: coveralls